{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">上传视频</label>
        <div class="layui-input-block">
            <input type="text" name="video" value='{$vo.video|default=""}'   class="layui-input">
            <button type='button' data-file='one' data-field='video' data-type='mp4,avi'>上传文件</button>
        </div>
        <span style="color:#ff2c27;">*视频文件请不要上传过大，建议不要超过30m!</span>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!--        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>

<script src="__STATIC__/plugs/layui/layui.js" charset="utf-8"></script>
<script src="__STATIC__/plugs/layui/layui.all.js" charset="utf-8"></script>

<script>
    layui.use('upload', function() {
        var $ = layui.jquery, upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            elem: '#test8'
            ,url:"{:url('homes/video_add')}"
            ,auto: false
            ,accept:'video'
            ,bindAction: '#test9'
            ,done: function(res){
                console.log(res)
            }
        });
    });

</script>

{/block}

