{include file="common/header"/}
<link href="__STATIC__/home/Portals/0/css/news-highlights.css?cdv=330" media="all" type="text/css" rel="stylesheet" />
        <div class="content">
            <div>
                <div class="w-row">
                    <div class="contactModal" id="global-contactusform">
                        <div class="modal-container">
                            <div class="modal-content">
                                <div class="modal-top w-clearfix">
                                    <button type="button" class="close modal-close">x</button>
                                    <h4 class="modal-title">Contact Us</h4>
                                </div>
                                <div class="modal-body form-horizontal">
                                    <div class="modal-rep-section"></div>
                                    <div>
                                        For a price quote, or on-site demo, contact our representative directly using zip code or country search.<br>
                                    </div>
                                    <hr />
                                    <div class='formWrapper'>
                                        <div class="form-group has-feedback required-form-section w-row">
                                            <label for="globalcontactform-name" class="control-label">Name:*</label>
                                            <div class="contact-form-input">
                                                <input type="text" class="form-control" id="globalcontactform-name" name="globalcontactform-name" />
                                            </div>
                                            <div class="form-control-feedback" aria-hidden="true"></div>
                                        </div>
                                        <div class="form-group has-feedback required-form-section w-row">
                                            <label for="globalcontactform-phone" class="control-label">Phone:*</label>
                                            <div class="contact-form-input">
                                                <input type="tel" class="form-control" id="globalcontactform-phone" name="globalcontactform-phone" />
                                            </div>
                                            <div class="form-control-feedback" aria-hidden="true"></div>
                                        </div>
                                        <div class="form-group has-feedback required-form-section w-row">
                                            <label for="globalcontactform-email" class=" control-label">Email:*</label>
                                            <div class="contact-form-input">
                                                <input type="email" class="form-control" id="globalcontactform-email" name="globalcontactform-email" />
                                            </div>
                                            <div class="form-control-feedback" aria-hidden="true"></div>
                                        </div>
                                        <div class="form-group has-feedback required-form-section w-row">
                                            <label for="globalcontactform-zip" class=" control-label">Postal Code:*</label>
                                            <div class="contact-form-input">
                                                <input type="text" class="form-control" id="globalcontactform-zip" name="globalcontactform-zip" />
                                            </div>
                                            <div class="form-control-feedback" aria-hidden="true"></div>
                                        </div>
                                        <hr />
                                        <div class="form-group w-row">
                                            <label for="globalcontactform-address" class=" control-label">Address:</label>
                                            <div class="contact-form-input">
                                                <input type="text" class="form-control" id="globalcontactform-address" name="globalcontactform-address" />
                                            </div>
                                        </div>
                                        <div class="form-group w-row">
                                            <label for="globalcontactform-city" class="control-label">City:</label>
                                            <div class="contact-form-input">
                                                <input type="text" class="form-control" id="globalcontactform-city" name="globalcontactform-city" />
                                            </div>
                                        </div>
                                        <div class="form-group w-row">
                                            <label for="globalcontactform-state" class="control-label">State:</label>
                                            <div class="contact-form-input">
                                                <input type="text" class="form-control" id="globalcontactform-state" name="globalcontactform-state" />
                                            </div>
                                        </div>
                                        <div class="form-group w-row input-comment">
                                            <label for="globalcontactform-comment" class="control-label">Comments:</label>
                                            <div class="contact-form-input">
                                                <textarea class="form-control" id="globalcontactform-comment" name="globalcontactform-comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group w-row flex-column">
                                            <label class="control-label">Interested in:</label>
                                            <div>
                                                <div class="w-col w-col-4">
                                                    <input type="checkbox" name="interest" value="AL" class="interestCheckBox"><span>Alignment Systems</span><br>
                                                    <input type="checkbox" name="interest" value="TC" class="interestCheckBox"><span>Tire Changers</span><br>
                                                    <input type="checkbox" name="interest" value="BL" class="interestCheckBox"><span>Brake Lathes</span><br>
                                                </div>
                                                <div class="w-col w-col-4">
                                                    <input type="checkbox" name="interest" value="HD" class="interestCheckBox"><span>Heavy-Duty</span><br>
                                                    <input type="checkbox" name="interest" value="WB" class="interestCheckBox"><span>Wheel Balancers</span><br>
                                                    <input type="checkbox" name="interest" value="LR" class="interestCheckBox"><span>Lift Rack</span><br>
                                                </div>
                                                <div class="w-col w-col-4">
                                                    <input type="checkbox" name="interest" value="QC" class="interestCheckBox"><span>Inspection</span><br>
                                                    <input type="checkbox" name="interest" value="OT" class="interestCheckBox"><span>Other</span><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <input id="globalcontactform-submit" value="Submit" type="submit" class="btn btn-primary" disabled="disabled" />
                                            <input type="hidden" id="HiddenRepNumber" value="" />
                                            <input type="hidden" id="HiddenRepEmail" value="" />
                                            <input type="hidden" id="IsDistributor" value="" />
                                            <input type="hidden" id="ContactType" value="" />
                                            <input type="hidden" id="Origin" value="" />
                                            <input type="hidden" id="Country" value="" />
                                            <input type="hidden" id="GatherFormInfo" value="true" />
                                            <input type="hidden" id="HiddenZipCode" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="about-icon-wrapper" data-ix="about-slideout-modal">-->
                        <!--<img class="rep-icon" data-ix="rep-slideout-modal" src="__HOME__/home/portals_1/0/Images/about-icon.svg">-->
                        <!--<div class="rep-icon-text" data-ix="rep-slideout-modal">about menu-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="side-menu-wrapper">
                        <div class="about-slideout-close" data-ix="close-about-slideout-modal">X</div>
                        <div class="mobile-dropdown-wrapper">
                            <div class="menu-option" data-ix="mobile-menu-dropdown">
                                <div class="w-row">
                                    <div class="w-col w-col-10">
                                        <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/who-we-are">who we are</a>
                                        </div>
                                    </div>
                                    <div class="w-col w-col-2">
                                        <div class="side-menu-arrow-column"><img class="menu-arrow" src="__HOME__/home/portals_1/0/Images/menu-arrow.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="secondary-menu-wrapper">
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/history">history</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/who-we-are/innovation">innovation team</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/who-we-are/sales-service">sales &amp; service</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" target="_blank" href="/Portals/0/documents/7222-T_MadeInUSA.pdf">made in the usa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-dropdown-wrapper">
                            <div class="menu-option" data-ix="mobile-menu-dropdown">
                                <div class="w-row">
                                    <div class="w-col w-col-10">
                                        <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/locations">where to go</a>
                                        </div>
                                    </div>
                                    <div class="w-col w-col-2">
                                        <div class="side-menu-arrow-column"><img class="menu-arrow" src="__HOME__/home/portals_1/0/Images/menu-arrow.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="secondary-menu-wrapper">
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/About-Hunter/Locations/St-Louis-MO">St. Louis, MO</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/About-Hunter/Locations/Durant-MS">Durant, MS</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/About-Hunter/Locations/Raymond-MS">Raymond, MS</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/About-Hunter/Locations/Canada">Canada</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/About-Hunter/Locations/Germany">Germany</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-dropdown-wrapper">
                            <div class="menu-option" data-ix="mobile-menu-dropdown">
                                <div class="w-row">
                                    <div class="w-col w-col-10">
                                        <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/news/press">news & education</a>
                                        </div>
                                    </div>
                                    <div class="w-col w-col-2">
                                        <div class="side-menu-arrow-column"><img class="menu-arrow" src="__HOME__/home/portals_1/0/Images/menu-arrow.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="secondary-menu-wrapper">
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/trade-shows">trade show calendar</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/news/press">press releases</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/news/highlights">newsletters</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/company-overview/awards">awards</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-dropdown-wrapper">
                            <div class="menu-option" data-ix="mobile-menu-dropdown">
                                <div class="w-row">
                                    <div class="w-col w-col-10">
                                        <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/careers">careers</a>
                                        </div>
                                        <div class="side-menu-dropdown-option"><a target="_blank" class="light-color link text" href="https://hunterengineeringcc.orders.com/shop/home/">shop merchandise</a>
                                        </div>
                                    </div>
                                    <div class="w-col w-col-2">
                                        <div class="side-menu-arrow-column"><img class="menu-arrow" src="__HOME__/home/portals_1/0/Images/menu-arrow.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="secondary-menu-wrapper">
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="about-hunter/careers/co-op">co-op</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/careers/sales">sales</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="/about-hunter/careers/service">service</a>
                                    </div>
                                </div>
                                <div class="secondary-menu-option">
                                    <div class="side-menu-dropdown-option"><a class="light-color link text" href="#">manufacturing</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-12">
                        <div class="w-row">
                            <div id="dnn_ContentPane" class="content-pane w-col w-col-12"><div class="DnnModule DnnModule-DNN_HTML DnnModule-480"><a name="480"></a></div></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_LeftPane75" class="left-pane-75 w-col-9 w-col-medium-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane25" class="right-pane-25 w-col-3 w-col-medium-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_ContentPane2" class="content-pane-2 w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_LeftPane25" class="left-pane-25 w-col-3 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane75" class="right-pane-75 w-col-9 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_ContentPane3" class="content-pane-3 w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_LeftPane33" class="left-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_CenterPane33" class="center-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane33" class="right-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_ContentPane4" class="content-pane-4 w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div class="left-pane-66 w-col-8 w-col-small-12">
                                <div class="w-row">
                                    <div id="dnn_LeftCol66" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnLeft" class="half-column-left w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnRight" class="half-column-right w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                    <div id="dnn_LeftCol66Middle" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnLeft2" class="half-column-left w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnRight2" class="half-column-right w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                </div>
                            </div>
                            <div id="dnn_RightCol33" class="right-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_ContentPane5" class="content-pane-5 w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_LeftCol33" class="left-col-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightCol66" class="right-col-66 w-col-8 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_ContentPane6" class="content-pane-6 w-col-12 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_LeftPane50" class="left-pane-50 w-col-6 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane50" class="right-pane-50 w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_ContentPane7" class="content-pane-7 w-col-12"><div class="DnnModule DnnModule-DNN_HTML DnnModule-4420"><a name="4420"></a>
                               {foreach $light as $key=>$vo}
                                <div class="C_Container">
                                    <h1>
                                        <span id="dnn_ctr4420_dnnTITLE_titleLabel" class="TitleText">{$vo.title}</span>
                                    </h1>
                                    <div id="dnn_ctr4420_contentPane" class="containerContent"><div id="dnn_ctr4420_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                        <div id="dnn_ctr4420_HtmlModule_lblContent" class="Normal">
                                            <div class="container-div" width="100%">
                                                <div class="thumbnail-image"><img src="{$vo.img}" style="width:350px;height:470px;"></div>
                                                <div class="content-wrapper">
                                                    <!-- todo  注释pdf -->
                                                   <!-- <p>Vol 166 | <a href="/Portals/0/highlights/2880-T_HH166_LR.pdf" target="_blank">View PDF (English)</a></p> -->
                                                   <p class="p1">{$vo.content|raw}</p>
                                                </div>
                                            </div>
                                            <div style="clear: both;"></div>
                                            <br>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{include file="common/footer" /}