{include file="common/header" /}

<div class="content">
    <div>
        <div class="w-row">
            <div class="contactModal" id="global-contactusform">
                <div class="modal-container">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
            <div class="w-col w-col-12">
                <div class="w-row">
                    <div id="dnn_ContentPane" class="content-pane w-col w-col-12 DNNEmptyPane"></div>
                </div>
                <div class="w-row expanded">
                    <div id="dnn_LeftPane75" class="left-pane-75 w-col-9 w-col-medium-12 DNNEmptyPane"></div>
                    <div id="dnn_RightPane25" class="right-pane-25 w-col-3 w-col-medium-12 DNNEmptyPane"></div>
                </div>

                <div class="w-row expanded">
                    <div id="dnn_ContentPane2" class="content-pane-2 w-col-12"><div class="DnnModule DnnModule-DNN_HTML DnnModule-4083"><a name="4083"></a>
                        <div class="C_Container">
                            <div id="dnn_ctr4083_contentPane" class="containerContent"><div id="dnn_ctr4083_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                <div id="dnn_ctr4083_HtmlModule_lblContent" class="Normal">
                                    <div class="innovation-team product-hero-section" style="background-image:url('/static/home/Portals/0/Images/history.png')">
                                        <h2 class="product-hero-text" data-ix="scroll-reveal">LAWRENCE HISTORY</h2>
                                    </div>
                                    <div class="product-section-gray">
                                        <h1 class="heading-2 main-color">The Technical timeline of Lawrence</h1>
                                        <p class="text">
                                        <ul style="list-style-type: none;margin-left: -40px;">
                                            <li style="font-size:14px;">In 2004, Lawrence developed CCD wheel aligner with 3-Dimensional Operating System</li>
                                            <li style="font-size:14px;">In 2005, Lawrence developed Drive-on Camera Aid function (First one in China)and Voice Prompt function</li>
                                            <li style="font-size:14px;">In 2007, Lawrence developed V3D wheel alignment and started to ssma production</li>
                                            <li style="font-size:14px;">In 2008, Lawrence developed T Form Fully Intelligent Lifting System (IAA) in V3D wheel alignment</li>
                                            <li style="font-size:14px;">In 2009, Lawrence added Jack-Up Adjustment function in V3D wheel alignment</li>
                                            <li style="font-size:14px;">In 2010, Lawren dceeveloped Android Pad Synchronous Display system  (First one in the world)</li>
                                            <li style="font-size:14px;">In 2011, Lawrence developed Hand recognition Function (Patent)</li>
                                            <li style="font-size:14px;">In 2011, Lawrence developed 3D wheel aligner CUBE10 with two columns, supporting pit test and </li>
                                            <li style="font-size:14px;">In 2012, Lawrence developed SMART TOE ( like Win Toe) and Engine Cradle Adjustment function</li>
                                            <li style="font-size:14px;">In 2013, Lawrence started to use 5 Megapixel industry camera for wheel alignment</li>
                                            <li style="font-size:14px;">In 2014, Lawrence started to use Black Mini Target for wheel alignment</li>
                                            <li style="font-size:14px;">In 2015, Magic Tyre changer X618 came out</li>
                                            <li style="font-size:14px;">In 2016, Laser wheel balancer B805 came out</li>
                                            <li style="font-size:14px;">In 2017, Lawrence developed Ride Height function in 3D wheel alignment</li>
                                            <li style="font-size:14px;">In 2018, Auto Brake wheel balancer came out</li>
                                            <li style="font-size:14px;"style="font-size:13px;">In 2018, Touchless wheel clamp and 6.4 Megapixel industry camera both came out INDUSTRIES’ FIRST</li>
                                            <li style="font-size:14px;">FIRST V3D+3D max Wheel Alignment System</li>
                                            <li style="font-size:14px;">FIRST 720 Degree Panoramic 3D Model Wheel Alignment System</li>
                                            <li style="font-size:14px;">FIRST T-Form Fully Intelligent Lifting System (IAA System)</li>
                                            <li style="font-size:14px;">FIRST Magnets Operation System that Supports Screen Touch</li>
                                            <li style="font-size:14px;">FIRST Android Pad Synchronous Display and Touch Screen System</li>
                                            <li style="font-size:14px;">FIRST Free Rolling Compensation Function</li>
                                            <li style="font-size:14px;">FIRST Drive-on Camera Aid Function</li>
                                            <li style="font-size:14px;">FIRST Hand Recognition Function</li>
                                            <li style="font-size:14px;">FIRST Diagonal Cross Alignment System</li>
                                          </ul>
                                        </p>
                                    </div>
                                </div>
                            </div></div>
                        </div></div>
                        <div class="DnnModule DnnModule-DNN_HTML DnnModule-4084"><a name="4084"></a>
                        <div class="C_Container">
                            <div id="dnn_ctr4084_contentPane" class="containerContent">
                                <div id="dnn_ctr4084_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                <div id="dnn_ctr4084_HtmlModule_lblContent" class="Normal">
                                    <div class="no-padding product-landing product-section-white about-menu">
                                        <div>
                                            <div class="main-slider w-clearfix w-slider" data-animation="slide" data-duration="500" data-hide-arrows="1">
                                                <div class="w-slider-mask">
                                                     <!-- todo 暂时注释
                                                    <div class="slider-section-wrapper w-slide">
                                                        <div class="slide-wrapper">
                                                            <div class="slider-image-wrapper"><img class="slider-image" src="/portals/0/Images/about-us/innovation-team-image-1.jpg">
                                                            </div>
                                                            <div class="features slider-description-wrapper">
                                                                <h2 class="heading-2 no-link">ELECTRICAL ENGINEERING</h2>
                                                                <p class="text">Hunter electrical engineers develop and stress test new products in the Research and Development center lab. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slider-section-wrapper w-slide">
                                                        <div class="slide-wrapper">
                                                            <div class="slider-image-wrapper"><img class="slider-image" src="/portals/0/Images/about-us/innovation-team-image-2.jpg">
                                                            </div>
                                                            <div class="features slider-description-wrapper">
                                                                <h2 class="heading-2 no-link">SOFTWARE DEVELOPMENT</h2>
                                                                <p class="text">Hunter&rsquo;s award-winning software for alignment, training, shop management and more, leads the industry.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slider-section-wrapper w-slide">
                                                        <div class="slide-wrapper">
                                                            <div class="slider-image-wrapper"><img class="slider-image" src="/portals/0/Images/about-us/innovation-team-image-3.jpg">
                                                            </div>
                                                            <div class="features slider-description-wrapper">
                                                                <h2 class="heading-2 no-link">MECHANICAL ENGINEERING</h2>
                                                                <p class="text">Hunter&rsquo;s mechanical engineering team employs computer aided design technology.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slider-section-wrapper w-slide">
                                                        <div class="slide-wrapper">
                                                            <div class="slider-image-wrapper"><img class="slider-image" src="/portals/0/Images/about-us/innovation-team-image-4.jpg">
                                                            </div>
                                                            <div class="features slider-description-wrapper">
                                                                <h2 class="heading-2 no-link">CIRCUIT BOARDS</h2>
                                                                <p class="text">Hunter circuit boards are designed in-house using highly specialized software.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     -->
                                                </div>
                                                <div class="left-slider-arrow w-slider-arrow-left">
                                                    <div class="left slider-navigation w-icon-slider-left"></div>
                                                </div>
                                                <div class="right-slider-arrow w-slider-arrow-right">
                                                    <div class="right slider-navigation w-icon-slider-right"></div>
                                                </div>
                                                <div class="slide-nav-bottom w-round w-slider-nav"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                             </div>
                        </div>
                        <div class="DnnModule DnnModule-DNN_HTML DnnModule-4086"><a name="4086"></a>
                        </div>
                    </div>
                    <div class="w-row expanded">
                        <div id="dnn_LeftPane25" class="left-pane-25 w-col-3 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_RightPane75" class="right-pane-75 w-col-9 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row expanded">
                        <div id="dnn_ContentPane3" class="content-pane-3 w-col-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row expanded">
                        <div id="dnn_LeftPane33" class="left-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_CenterPane33" class="center-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_RightPane33" class="right-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row expanded">
                        <div id="dnn_ContentPane4" class="content-pane-4 w-col-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row">
                        <div class="left-pane-66 w-col-8 w-col-small-12">
                            <div class="w-row">
                                <div id="dnn_LeftCol66" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                                <div id="dnn_HalfColumnLeft" class="half-column-left w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                <div id="dnn_HalfColumnRight" class="half-column-right w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                <div id="dnn_LeftCol66Middle" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                                <div id="dnn_HalfColumnLeft2" class="half-column-left w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                <div id="dnn_HalfColumnRight2" class="half-column-right w-col-6 w-col-small-12 DNNEmptyPane"></div>
                            </div>
                        </div>
                        <div id="dnn_RightCol33" class="right-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row">
                        <div id="dnn_ContentPane5" class="content-pane-5 w-col-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row">
                        <div id="dnn_LeftCol33" class="left-col-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_RightCol66" class="right-col-66 w-col-8 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row">
                        <div id="dnn_ContentPane6" class="content-pane-6 w-col-12 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row">
                        <div id="dnn_LeftPane50" class="left-pane-50 w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_RightPane50" class="right-pane-50 w-col-6 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                    <div class="w-row">
                        <div id="dnn_ContentPane7" class="content-pane-7 w-col-12 DNNEmptyPane"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="common/footer" /}

    </body>
    </html>