{include file="common/header" /}
    <div class="content">
        <div>
            <div class="w-row">
                <div id="dnn_ContentPane" class="content-pane w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_LeftPane75" class="left-pane-75 w-col w-col-9 w-col-medium-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane25" class="right-pane-25 w-col w-col-3 w-col-medium-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_ContentPane2" class="content-pane-2 w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_LeftPane25" class="left-pane-25 w-col w-col-3 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane75" class="right-pane-75 w-col w-col-9 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_ContentPane3" class="content-pane-3 w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_LeftPane33" class="left-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_CenterPane33" class="center-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane33" class="right-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_ContentPane4" class="content-pane-4 w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div class="left-pane-66 w-col w-col-8 w-col-small-12">
                    <div class="w-row">
                        <div id="dnn_LeftCol66" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnLeft" class="half-column-left w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnRight" class="half-column-right w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_LeftCol66Middle" class="left-col-66 w-col w-col-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnLeft2" class="half-column-left w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnRight2" class="half-column-right w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                </div>
                <div id="dnn_RightCol33" class="right-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_ContentPane5" class="content-pane-5 w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_LeftCol33" class="left-col-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightCol66" class="right-col-66 w-col w-col-8 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_ContentPane6" class="content-pane-6 w-col w-col-12 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_LeftPane50" class="left-pane-50 w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane50" class="right-pane-50 w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_ContentPane7" class="content-pane-7 w-col-12"><div class="DnnModule DnnModule-DNN_HTML DnnModule-1427"><a name="1427"></a>
                    <div class="C_Container">
                        <h1>
                            <span id="dnn_ctr1427_dnnTITLE_titleLabel" class="TitleText">Log In Account Required</span>
                        </h1>
                        <div id="dnn_ctr1427_contentPane" class="containerContent"><div id="dnn_ctr1427_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                            <div id="dnn_ctr1427_HtmlModule_lblContent" class="Normal">
                                <script type="text/javascript" Src="__STATIC__/home/DesktopModules/SteadyRain/Hunter/Resources/js/jquery.helpers.js"></script>
                                <script type="text/javascript" Src="__STATIC__/home//Portals/_default/Skins/Hunter/includes/HunterUserStatus.js"></script>
                                <p>Authorized access only. Unauthorized access is strictly prohibited.</p>
                                <p><span style="font-size: 18px;"><strong>Please select an area below:</strong></span></p>
                                <!--<p> </p>-->
                                {foreach $dis as $key=>$vo}
                                <p><span style="font-size: 13px;"><a class="distribSite" href="{:url('admin/index/index')}">{$vo.disname| raw}</a></span></p>
                                {/foreach}
                            </div>
                        </div></div>
                    </div></div></div>
            </div>
        </div>
    </div>

    {include file="common/footer" /}