{include file="common/header"/}

    <div class="content">
        <div>
            <div class="contactModal" id="global-contactusform">
                <div class="modal-container">
                </div>
            </div>
            <div class="w-row">
                <div id="dnn_ContentPane" class="content-pane w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_LeftPane75" class="left-pane-75 w-col w-col-9 w-col-medium-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane25" class="right-pane-25 w-col w-col-3 w-col-medium-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_ContentPane2" class="content-pane-2 w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_LeftPane25" class="left-pane-25 w-col w-col-3 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane75" class="right-pane-75 w-col w-col-9 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_ContentPane3" class="content-pane-3 w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_LeftPane33" class="left-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_CenterPane33" class="center-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane33" class="right-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row expanded">
                <div id="dnn_ContentPane4" class="content-pane-4 w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div class="left-pane-66 w-col w-col-8 w-col-small-12">
                    <div class="w-row">
                        <div id="dnn_LeftCol66" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnLeft" class="half-column-left w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnRight" class="half-column-right w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_LeftCol66Middle" class="left-col-66 w-col w-col-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnLeft2" class="half-column-left w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        <div id="dnn_HalfColumnRight2" class="half-column-right w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                    </div>
                </div>
                <div id="dnn_RightCol33" class="right-pane-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_ContentPane5" class="content-pane-5 w-col w-col-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_LeftCol33" class="left-col-33 w-col w-col-4 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightCol66" class="right-col-66 w-col w-col-8 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_ContentPane6" class="content-pane-6 w-col w-col-12 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_LeftPane50" class="left-pane-50 w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
                <div id="dnn_RightPane50" class="right-pane-50 w-col w-col-6 w-col-small-12 DNNEmptyPane"></div>
            </div>
            <div class="w-row">
                <div id="dnn_ContentPane7" class="content-pane-7 w-col-12">
                    <div class="DnnModule DnnModule-DNN_HTML DnnModule-1159"><a name="1159"></a>
                    <div class="C_Container">
                        <h1>
                            <span id="dnn_ctr1159_dnnTITLE_titleLabel" class="TitleText">{$newss.title}</span>
                        </h1>
                        <div id="dnn_ctr1159_contentPane" class="containerContent">
                            <div id="dnn_ctr1159_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                            <div id="dnn_ctr1159_HtmlModule_lblContent" class="Normal">
                                <div style="height:100vh;">
                                    <p>&nbsp;</p>
                                    <p class="p1">{$newss.content| raw}</p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div></div>
                    </div></div></div>
            </div>
        </div>
    </div>
    <div id="slideoutWrapper" class="slideout-wrapper w-hidden-small w-hidden-tiny">
        <div class="slideout-container">
            <div class="connect-wrapper">
                <div id="slideoutClose" class="rep-slideout-close" data-ix="close-rep-slideout-modal">
                    X
                </div>
                <div class="center section-text">
                    SERVICE, SALES, PRICING<br>
                    CONNECT WITH YOUR  Lawrence TEAM<br>
                    <div class="price-text">
                        For a price quote, or on-site demo, contact one of our representatives<br> directly using zip code or country search.<br>
                    </div>
                </div>
                <div class="bold center section-text display-zip">
                    63044
                </div>
                <div class="change-location-link-wrapper ">
                    <a id="change-location-link" class="cta-button w-button"><span class="change-location-text">ENTER LOCATION</span><span class="w-icon-dropdown-toggle"></span></a>
                </div>
                <div class="location ">
                    <div id="location-picker" class="select-location">
                        <div>
                            <select class="change-location-input w-select" id="country-select"></select>
                        </div>
                        <div>
                            <input class="change-location-input w-input" type="text" id="zipcode-input" placeholder="ZIP CODE" />
                        </div>
                        <div class="zipError">
                            * Please Enter a Valid Postal Code
                        </div>
                        <div id="submit">
                            <button class="change-location-submit w-button" type="button" id="location-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rep-wrapper">
                <div class="rep-container">
                </div>
            </div>
        </div>
    </div>



    <div id="slideoutWrapper" class="slideout-wrapper-mobile w-hidden-main w-hidden-medium">
        <div class="slideout-container">
            <div class="connect-wrapper">
                <div id="slideoutClose" class="rep-slideout-close" data-ix="close-rep-slideout-modal-mobile">
                    X
                </div>
                <div class="center section-text">
                    CONNECT WITH YOUR  Lawrence TEAM
                </div>
                <div class="bold center section-text display-zip">
                    63044
                </div>
                <div class="change-location-link-wrapper ">
                    <a id="change-location-link" class="cta-button w-button"><span class="change-location-text">ENTER LOCATION</span><span class="w-icon-dropdown-toggle"></span></a>
                </div>
                <div class="location ">
                    <div id="location-picker" class="select-location">
                        <div>
                            <select class="change-location-input w-select" id="country-select"></select>
                        </div>
                        <div>
                            <input class="change-location-input w-input" type="text" id="zipcode-input" placeholder="ZIP CODE" />
                        </div>
                        <div class="zipError">
                            * Please Enter a Valid Postal Code
                        </div>
                        <div id="submit">
                            <button class="change-location-submit w-button" type="button" id="location-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rep-wrapper">
            </div>
        </div>
    </div>

   {include file='common/footer'/}

</body>
</html>