{include file="common/header" /}
        <div class="content">
            <div>
                <div class="w-row">
                    <div class="contactModal" id="global-contactusform">
                        <div class="modal-container">
                            <div class="modal-content">
                                <div class="modal-top w-clearfix">
                                    <button type="button" class="close modal-close">x</button>
                                    <h4 class="modal-title">Contact Us</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-12">
                        <div class="w-row">
                            <div id="dnn_ContentPane" class="content-pane w-col w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_LeftPane75" class="left-pane-75 w-col-9 w-col-medium-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane25" class="right-pane-25 w-col-3 w-col-medium-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_ContentPane2" class="content-pane-2 w-col-12"><div class="DnnModule DnnModule-DNN_HTML DnnModule-4073"><a name="4073"></a>
                                <div class="C_Container">
                                    <div id="dnn_ctr4073_contentPane" class="containerContent"><div id="dnn_ctr4073_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                        <div id="dnn_ctr4073_HtmlModule_lblContent" class="Normal">
                                            <div class="who-we-are product-hero-section" style=" background-image:url('/static/home/Portals/0/Images/company.jpg');">
                                                <h2 class="product-hero-text" data-ix="scroll-reveal">COMPANY PROFILE</h2>
                                            </div>
                                            <div class="product-section-gray">
                                                <h1 class="heading-2 main-color">COMPANY PROFILE</h1>
                                                <p class="text">Guangzhou Lawrence Auto Machinery Co., Ltd., authorized and invested by Lawrence Auto Machinery (USA) as the sole agent in the Asia-Pacific region,
                                                    is a large modern manufacturing enterprise engaged in technology introduction and application, equipment production, marketing and after-sales service.
                                                    Lawrence is well known for technology innovation in the automotive aftermarket, and has launched three generations of 3D wheel alignments, namely Smarter,
                                                    Crown and Cube. Lawrence have brought vivid, intelligent and user-friendly alignment experience to the world, setting itself as the new benchmark of the industry and the world leader in the wheel alignment industry.
                                                    With the advantage of industry-leading quality and perfect service system, Lawrence products have benefited customers in over 60 countries and regions including the United States, Britain, France Brazil etc,
                                                    with long-term cooperative relationship and a high international popularity.
                                                    LAWRENCE, MAKE A DIFFERENCE!</p>
                                            </div>
                                        </div>
                                    </div></div>
                                </div></div><div class="DnnModule DnnModule-DNN_HTML DnnModule-4074"><a name="4074"></a>
                                <div class="C_Container">
                                    <div id="dnn_ctr4074_contentPane" class="containerContent"><div id="dnn_ctr4074_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                        <div id="dnn_ctr4074_HtmlModule_lblContent" class="Normal">
                                            <div class="no-padding product-landing product-section-white about-menu">
                                                <div>
                                                    <div class="main-slider w-clearfix w-slider" data-animation="slide" data-duration="500" data-hide-arrows="1">
                                                        <div class="w-slider-mask">
                                                            <div class="slider-section-wrapper w-slide" style="transform: translateX(0px); opacity: 1;">
                                                                <div class="slide-wrapper">
                                                                    <div class="slider-image-wrapper">
                                                                        <a href="{:url('index/history')}">
                                                                            <img class="slider-image"  src="__STATIC__/home/bortals/0/Images/about-us/company-1.jpg"></a>
                                                                    </div>
                                                                    <div>
                                                                        <a class="main-button w-button" href="{:url('index/history')}">LAWRENCE HISTORY</a>
                                                                    </div>
                                                                    <div class="features slider-description-wrapper">
                                                                        <!-- <p class="text">Since 1946, when Automotive Hall of Fame inductee Lee Hunter founded  Lawrence Engineering,
                                                                            the company has built a reputation for innovation and visionary leadership in the application of the newest
                                                                            technologies to automotive under car service.</p> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slider-section-wrapper w-slide" style="transform: translateX(0px); opacity: 1;">
                                                                <div class="slide-wrapper">
                                                                    <div class="slider-image-wrapper"><a href="{:url('index/team')}">
                                                                        <img class="slider-image" src="__STATIC__/home/bortals/0/Images/about-us/company-2.jpg"></a>
                                                                    </div>
                                                                    <div>
                                                                        <a class="main-button w-button" href="{:url('index/team')}">LAWRENCE TEAMWORK</a>
                                                                    </div>
                                                                    <div class="features slider-description-wrapper">
                                                                      <!--  <p class="text"> Lawrence&rsquo;s award-winning research and development team of mechanical, electrical and software engineers is responsible for hundreds of patented and exclusive features that make Hunter products the most productive under car service equipment
                                                                            available.</p> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slider-section-wrapper w-slide" style="transform: translateX(0px); opacity: 1;">
                                                                <div class="slide-wrapper">
                                                                    <div class="slider-image-wrapper" >
                                                                        <a href="{:url('index/services')}">
                                                                        <img class="slider-image"   src="__STATIC__/home/bortals/0/Images/about-us/company-3.jpg"></a>
                                                                    </div>
                                                                    <div>
                                                                        <a class="main-button w-button" href="{:url('index/services')}">SALES AND SERVICES</a>
                                                                    </div>
                                                                    <div class="features slider-description-wrapper">
                                                                       <!-- <p class="text"> Lawrence fields the largest dedicated sales force in the undercar service industry with approximately 380 representatives
                                                                            throughout the United States. Representatives work within a nationwide customer support network of dedicated Hunter training. . .
                                                                        </p> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="left-slider-arrow w-slider-arrow-left" style="display: none;">
                                                            <div class="left slider-navigation w-icon-slider-left"></div>
                                                        </div>
                                                        <div class="right-slider-arrow w-slider-arrow-right">
                                                            <div class="right slider-navigation w-icon-slider-right"></div>
                                                        </div>
                                                        <div class="slide-nav-bottom w-round w-slider-nav">
                                                            <div class="w-slider-dot w-active" data-wf-ignore=""></div>
                                                            <div class="w-slider-dot" data-wf-ignore=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></div>
                                </div></div><div class="DnnModule DnnModule-DNN_HTML DnnModule-4063"><a name="4063"></a>
                                <div class="C_Container">
                                    <div id="dnn_ctr4063_contentPane" class="containerContent"><div id="dnn_ctr4063_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                        <div id="dnn_ctr4063_HtmlModule_lblContent" class="Normal">
                                            <div id="displayVideoModal" class="modal-wrapper" data-ix="modal-display">
                                                <div class="modal-container">
                                                    <div class="modal-top w-clearfix">
                                                        <div class="modal-title">&nbsp;</div>
                                                        <div class="modal-close" data-ix="modal-close">x</div>
                                                    </div>
                                                    <div class="modal-video-wrapper"><iframe class="video-embed" name="preview-youtube" src="__HOME__/home/portals/0/#" frameborder="0" allowfullscreen=""></iframe></div>
                                                </div>
                                            </div>
                                            <div class="slider-section about-video-section" id="homePageVideoSlider">
                                                <h2 class="heading-1 main-color section-padding" data-ix="scroll-reveal">featured videos</h2>
                                                <div class="main-slider w-slider" data-animation="slide" data-duration="500" data-hide-arrows="1">
                                                    <div class="w-slider-mask">
                                                        <div class="slider-section-wrapper w-slide">
                                                            <div class="slide-wrapper">
                                                                <div class="slider-image-wrapper">
                                                                        <a class="video-button" data-ix="reveal-modal" href="#" video="https://www.youtube.com/embed/-y8iWmr8uj0">
                                                                    <img class="slider-image" src="__STATIC__/home/bortals/0/Images/about-video-1.jpg"></a>
                                                                </div>
                                                                <div class="slider-description-wrapper">
                                                                    <h3 class="heading-2">The  Lawrence Story</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slider-section-wrapper w-slide">
                                                            <div class="slide-wrapper">
                                                                <div class="slider-image-wrapper"><a class="video-button" data-ix="reveal-modal" href="javascript:void(0)" video="https://www.youtube.com/embed/-y8iWmr8uj0">
                                                                    <img class="slider-image" src="__STATIC__/home/bortals/0/Images/about-video-2.jpg"></a>
                                                                </div>
                                                                <div class="slider-description-wrapper">
                                                                    <h3 class="heading-2">Designed and built in the USA</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slider-section-wrapper w-slide">
                                                            <div class="slide-wrapper">
                                                                <div class="slider-image-wrapper"><a class="video-button" data-ix="reveal-modal" href="javascript:void(0)" video="https://www.youtube.com/embed/-y8iWmr8uj0">
                                                                    <img class="slider-image" src="__STATIC__/home/bortals/0/Images/about-video-3.jpg"></a>
                                                                </div>
                                                                <div class="slider-description-wrapper">
                                                                    <h3 class="heading-2">Collet Manufacturing</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slider-section-wrapper w-slide">
                                                            <div class="slide-wrapper">
                                                                <div class="slider-image-wrapper"><a class="video-button" data-ix="reveal-modal" href="javascript:void(0)" video="https://www.youtube.com/embed/-y8iWmr8uj0">
                                                                    <img class="slider-image" src="__STATIC__/home/bortals/0/Images/raymond-ms-operations-vid.jpg"></a>
                                                                </div>
                                                                <div class="slider-description-wrapper">
                                                                    <h3 class="heading-2">Raymond, MS Operations</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="w-slider-arrow-left">
                                                        <div class="left slider-navigation w-icon-slider-left"></div>
                                                    </div>
                                                    <div class="w-slider-arrow-right">
                                                        <div class="right slider-navigation w-icon-slider-right"></div>
                                                    </div>
                                                    <div class="slide-nav-bottom w-round w-slider-nav"></div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                $(document).ready(function() {
                                                    $('iframe.video-embed').attr('src', '');
                                                });
                                                $('#homePageVideoSlider .video-button').click(function() {
                                                    var videoPath = $(this).attr('video');
                                                    $('iframe.video-embed').attr('src', videoPath);
                                                });
                                                $
                                                $('.modal-close').click(function() {
                                                    $('iframe.video-embed').attr('src', '');
                                                });

                                                $('#displayVideoModal .modal-close, #displayVideoModal').click(function () {
                                                    $('#displayVideoModal').hide();
                                                    $('#productVideoModal').hide();
                                                    $('iframe[name="preview-youtube"]').attr('src', '');
                                                });
                                            </script>
                                        </div>
                                    </div></div>
                                </div></div></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_LeftPane25" class="left-pane-25 w-col-3 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane75" class="right-pane-75 w-col-9 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_ContentPane3" class="content-pane-3 w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_LeftPane33" class="left-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_CenterPane33" class="center-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane33" class="right-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row expanded">
                            <div id="dnn_ContentPane4" class="content-pane-4 w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div class="left-pane-66 w-col-8 w-col-small-12">
                                <div class="w-row">
                                    <div id="dnn_LeftCol66" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnLeft" class="half-column-left w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnRight" class="half-column-right w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                    <div id="dnn_LeftCol66Middle" class="left-col-66 w-col-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnLeft2" class="half-column-left w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                    <div id="dnn_HalfColumnRight2" class="half-column-right w-col-6 w-col-small-12 DNNEmptyPane"></div>
                                </div>
                            </div>
                            <div id="dnn_RightCol33" class="right-pane-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_ContentPane5" class="content-pane-5 w-col-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_LeftCol33" class="left-col-33 w-col-4 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightCol66" class="right-col-66 w-col-8 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_ContentPane6" class="content-pane-6 w-col-12 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_LeftPane50" class="left-pane-50 w-col-6 w-col-small-12 DNNEmptyPane"></div>
                            <div id="dnn_RightPane50" class="right-pane-50 w-col-6 w-col-small-12 DNNEmptyPane"></div>
                        </div>
                        <div class="w-row">
                            <div id="dnn_ContentPane7" class="content-pane-7 w-col-12 DNNEmptyPane"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {include file="common/footer" /}