.user-tabs{
    float: right;
    width: 80%;
    overflow: hidden;
}
.user-left-showinfo{
    float: left;
    overflow: hidden;
    width: 100%;
}
.user-right-block{
    width: 100%;
}
.logos {
    height:13vh;

}

@media screen and (max-width:480px){
    .logos {
        height:16vh;
    }
}