.print{
	display: none;
}

.print-button{
	cursor: pointer;
    color: #c00;
    text-align: right;
}

.TitleText {
    padding: 20px 25px;
}

.steadyrain.trainingportal > ul {
  background: none;
  border: 0;
  border-radius: 0;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  position: relative;
}
.steadyrain.trainingportal > ul:before,
.steadyrain.trainingportal > ul:after {
  content: '';
  display: table;
}
.steadyrain.trainingportal > ul:after {
  clear: both;
}
.steadyrain.trainingportal > ul > li {
  float: left;
  margin: 0;
  width: 100%;
}
.steadyrain.trainingportal > ul > li > a {
  background-color: #c6c8c9;
  border: 1px solid #878787;
  border-bottom: 0;
  border-radius: 0;
  color: #444;
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-right: 5px;
  padding: 12px 45px;
  text-shadow: none;
}
.steadyrain.trainingportal > ul > li.active > a {
  background-color: #262626;
  background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#4e4e4e));
  background: -webkit-linear-gradient(top, #262626, #4e4e4e);
  background: -moz-linear-gradient(top, #262626, #4e4e4e);
  background: -ms-linear-gradient(top, #262626, #4e4e4e);
  background: -o-linear-gradient(top, #262626, #4e4e4e);
  border-bottom: 0;
  color: #f7f7f7;
}
.steadyrain.trainingportal .tab-content .tab-pane {
  position: relative;
  min-height: 500px;
  padding-top: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane > .row:first-child {
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane h2.black {
  border: 0;
  color: #000000;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane h2.black.filter,
.steadyrain.trainingportal .tab-content .tab-pane h2.black.map {
  padding-left: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane h2.black.results {
  padding-left: 35px;
}
.steadyrain.trainingportal .tab-content .tab-pane .filterbox {
  padding-left: 0;
  padding-right: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane .filterbox > div {
  margin: 10px 0;
}
.steadyrain.trainingportal .tab-content .tab-pane .filterbox .title {
  margin-bottom: 5px;
}
.steadyrain.trainingportal .tab-content .tab-pane .filterbox input {
  width: 100%;
}

.browseLoc.row{
  margin-right: -30px !important;
}

.steadyrain.trainingportal .tab-content .tab-pane .map > .row {
  margin-left: 15px;
}
.steadyrain.trainingportal .tab-content .tab-pane .map .googleMap {
  height: 400px;
}

.steadyrain.trainingportal .tab-content .tab-pane .map{
  float: right;
  margin-bottom: 15px;
}

.steadyrain.trainingportal .tab-content .tab-pane.browselocations.map #map_canvas_gsp9700 {
  height: 400px;
}

#map_canvas_gsp9700{
  height: 400px;
}

.findCourse{
	float: left;
	margin-top: 15px;
}


.steadyrain.trainingportal .tab-content .tab-pane .result-view {
  padding-left: 35px;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem {
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  padding-top: 10px;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem:last-child {
  border-bottom: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem .schedule-locationname a {
  text-transform: uppercase;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem .instructor-image {
  margin-top: 10px;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem .instructor-image img {
  max-width: 100%;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem .instructor-info {
  margin-top: 10px;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem .instructor-info .title {
  text-transform: uppercase;
}
.steadyrain.trainingportal .tab-content .tab-pane .result-view .ScheduleItem .instructor-info .name {
  font-weight: bold;
}
.steadyrain.trainingportal .tab-content .tab-pane.uscourses .sortddl,
.steadyrain.trainingportal .tab-content .tab-pane.canadacourses .sortddl {
  height: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  min-width: 150px;
}
.steadyrain.trainingportal .tab-content .tab-pane.uscourses .coursesListView .courseTemplate,
.steadyrain.trainingportal .tab-content .tab-pane.canadacourses .coursesListView .courseTemplate {
  padding: 5px 15px;
}
.steadyrain.trainingportal .tab-content .tab-pane.uscourses .coursesListView .courseTemplate:nth-child(odd),
.steadyrain.trainingportal .tab-content .tab-pane.canadacourses .coursesListView .courseTemplate:nth-child(odd) {
  background-color: #eaeaea;
}
.steadyrain.trainingportal .tab-content .tab-pane.uscourses .coursesListView .courseTemplate .course-number,
.steadyrain.trainingportal .tab-content .tab-pane.canadacourses .coursesListView .courseTemplate .course-number {
  font-size: 11px;
}
.steadyrain.trainingportal .tab-content .tab-pane.browselocations .filterCountry {
  height: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 15px;
  min-width: 150px;
}
.steadyrain.trainingportal .tab-content .tab-pane.browselocations .filterState {
  height: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 15px;
  min-width: 150px;
}
.steadyrain.trainingportal .tab-content .tab-pane.browselocations .locationsListView .locationItem .location-detail {
  padding: 15px;
  
}
.steadyrain.trainingportal .tab-content .tab-pane.browselocations .locationsListView .locationItem:nth-child(2n+1) {
  padding-left: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane.browselocations .locationsListView .locationItem:nth-child(2n+0) {
  padding-right: 0;
}
.steadyrain.trainingportal .tab-content .tab-pane.browselocations .locationsListView .locationItem:nth-child(4n+1) .location-detail,
.steadyrain.trainingportal .tab-content .tab-pane.browselocations .locationsListView .locationItem:nth-child(4n+2) .location-detail {
  background-color: #eaeaea;
}

.browseCountry.searchInput,
.browseState.searchInput,
.browseLocation.searchInput,
.searchLocation.searchInput,
.searchCourse.searchInput{
	width: 100%;
}
.ui-autocomplete li a {
  font-size: 14px;
  border-radius: 0;
  border: 0;
}
.ui-autocomplete li a:hover,
.ui-autocomplete li a:focus,
.ui-autocomplete li .ui-state-focus {
  background: none;
  border: 0;
  margin: 0;
}

.selectDistanceUS,
.selectDistanceCA,
.selectDistanceGR{
	text-align: center;
}

.selectDistanceUS input[type=radio],
.selectDistanceCA input[type=radio],
.selectDistanceGR input[type=radio],
#rft,
#rfe,
#straightTrak{
	width: 20px !important;
}

.error{
	color: #c00;
}

.addressInfo{
    display: inline-block;
    padding: 8px 0;
    vertical-align: middle;
}

.images{
	padding-top: 15px;
  text-align: center;
}

#noLocations{
	text-align: center;
}

.location-detail .infocontent {
    width: 100%;
    clear: both;
    background: #e8e8e8;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0px 2px 5px #aaa;
}

.infocontent .text{
    text-align: left;
}

ul.location-detail{
    list-style: none;
    width: 100%;
}

ul.simplePagerNav li {
    float: left;
	padding: 5px;
}

ul.simplePagerNav {
    list-style: none;
	clear: both;
	float:right;
}

.w-col .w-col.locationItem {
    padding-right: 100px;
}

.representative.clearfix {
    width: 90%;
    margin: 0 auto;
}

.indexcontentcontainer {
	width: 50px;
	display: inline-block;
}

.indexcontent {
	width: 50px;
	display: inline-block;
	font-size: 18px;
	padding: 50px 10px;
}

.mapMarkerLabel{
	  color: #fff;
    background-color: #c00;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    text-align: center;
    width: 20px;
    white-space: nowrap;
    bottom: 40px;
    right: 10px;
    border-radius: 6px;
	  z-index: 8000;
}

.content-pane.w-col.w-col-12{
    padding: 0;
}

a.resetBrowse.w-button{
    text-align: center;
    background: #ccc;
    color: #444;
    font-weight: 700;
}

a.searchFilter.w-button{
    text-align: center;
    background: #c00;
    color: #fff;
    font-weight: 700;
}

.result-view{
    display: none;
}

.w-col.w-col-12.map{
    padding: 0px;
}

#map_canvas_gsp9700{
  height: 550px;
}

.filter-section{
    padding: 10px 25px;
    background-color: rgba(232,232,232,0.8);
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 250px;
    box-shadow: 0px 2px 5px #aaa;
}

/*.filter-section .w-row{
    padding: 0px 10px;
}*/

.filter-section select, .filter-section input{
    border: 1px solid #d6d6d6;;
    height: 45px;
    background: #fff;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
    margin-right: 10px;
    width: 100%;
}

.searchFilter{
    width: 100%;
}

.resetBrowse {
    width: 100%;
}

.sticky-item{
     width: 100%;
}

.sticky-base{
    position: relative;
}

.w-tab-menu span {
    line-height: 3.5;
    font-weight: 700;
    white-space: nowrap;
    padding: 10px;
}

.trainingportal .tab-link,
.trainingportal .tab-link.w--current{
    width: 100%;
    margin: 10px 0;
}



@media (min-width: 479px) {
    .filter-section{
        padding: 10px 50px;
    }
    .button-row .w-col.w-col-6{
        width: 50%;
    }

    .searchFilter{
      width: 98%;
    }

    .TitleText {
        padding: 20px 50px;
    }
    
}

@media (min-width: 600px) {
    .trainingportal .tab-link,
    .trainingportal .tab-link.w--current{
        width: 30%;
    }
    .images{
        padding-top: 15px;
        float: right;
        text-align: right;
    }
}

@media (min-width: 768px) {

    .trainingportal .tab-link,
    .trainingportal .tab-link.w--current{
        width: 25%;
        max-width: 225px;
    }
    .steadyrain.trainingportal > ul {
        margin-left: 10px;
    }
    .steadyrain.trainingportal > ul > li {
        margin-right: 5px;
        width: auto;
    }
    .steadyrain.trainingportal > ul > li > a {
        font-size: 14px;
        padding: 8px 18px;
    }
    .steadyrain.trainingportal > ul > li.active:after {
        background-image: url('images/gray-arrow-down.png');
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 14px;
        margin: 0 auto -14px;
        position: relative;
        width: 30px;
        z-index: 1;
    }
    
}

@media (min-width: 900px){
    .filter-section{
        position: absolute;
        padding: 10px;
    }

    .sticky-base{
        position: absolute;
        top: 50px;
        left: 90px;
        width: 25%;
    }
}

@media (min-width: 992px) {
  .steadyrain.trainingportal > ul > li > a {
    font-size: 13px;
    padding: 8px 12px;
  }
  .col-md-3.browseLoc {
    width: 28%;
  }
  .col-md-9.map {
    width: 72%;
}
}
@media (min-width: 1200px) {
  .steadyrain.trainingportal > ul > li > a {
    font-size: 15px;
    padding: 8px 18px;
  }
}

@media (min-width:1280px) {

    .sticky-absolute{
        position: absolute;
        bottom:0;
        margin: 0 !important;
    }

    .sticky-fixed{
        position: fixed;
        top: 20px;
    }

    ul.location-detail{
      list-style: none;
      width: 66.666666%;
      margin-left: 33.333333%;
  }
}

@media print{
    .no-print{
    display:none;
    }
    .print{
    display: initial;
    }
    
    .print-locations .infocontent {
      clear: both;
      border-bottom: 1px solid #c6c8c9;
    }

    ul.print-locations{
      list-style: none;
    }
    
    .print .addressInfo{
      padding: 8px 0;		
    }

    .print .images{
      float: right;
      padding-top: 15px;
    } 

    .primary-nav-section,
    .secondary-nav-section,
    .footer-section{
        display: none !important;
    }

    .w-tab-menu{
        display: none !important;
    }
}
/*# sourceMappingURL=module.css.map */