{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">


    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}'   class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">底图</label>
        <div class="layui-input-block">
            <input type="text" name="img"  value='{$vo.img|default=""}'    class="layui-input">
            <span style="color: #ff2c27;">*底图建议尺寸 800x440</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容标题</label>
        <div class="layui-input-block">
            <input type="text" name="info_title"  value='{$vo.info_title|default=""}'    class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容</label>
        <span style="color: #ff2c27;font-size: 20px;">*内容中请不要上传图片</span>
        <div class="layui-input-block">
            <textarea name="content" class="layui-textarea">{if isset($vo['id'])}{$vo.content}{/if}</textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!--        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="img"]').uploadOneImage();
        window.createEditor('[name="content"]', {height: 500});
    });
</script>


{/block}

