{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">关联专利列表</label>
        <div class="layui-input-inline">
            <select name="tid">
                <option value=""></option>
                {volist name="patents" id="condition"}
                {if isset($vo['id'])}
                <option value="{$condition.id}" {if condition="$condition.id eq $vo.tid"} selected="" {/if}>{$condition.title}</option>
                {else /}
                <option value="{$condition.id}">{$condition.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    {empty name='vo.id'}
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}'  placeholder="请输入专利标题" class="layui-input">
            <span style="color:#ff524e;">*注意：如果需要新的专利标题，可以在这里添加不需要关联上述专利列表，如果关联一级有的专利标题，直接选择关联列表，再添加图片即可！</span>
        </div>
    </div>
    {else /}

    {/empty}


    <div class="layui-form-item">
        <label class="layui-form-label">属于专利图片</label>
        <div class="layui-input-inline">
            <input type="text" name="img" value='{$vo.img|default=""}'  class="layui-input">
        </div>
    </div>


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!--        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="img"]').uploadOneImage();
        window.createEditor('[name="content"]', {height: 500});
    });
</script>
{/block}

