
<div class="footer-section">
    <div class="w-row">
        <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
            <div class="footer-div-wrapper">
                <h5 class="heading-2">Product lines</h5>
                  {volist name="pid" id="vo" }
                <a class="block link text" href="{:url('index/tz')}?id={$vo.id}">{$vo.name}</a>
                   {/volist}
                <!--<a class="block link text" href="{:url('index/luntai_chai')}">Tire Changers</a>-->
                <!--<a class="block link text" href="{:url('index/sjj')}">Brake Lathes</a>-->
                <!--<a class="block link text" href="{:url('index/brake_lathes')}"> Lifts</a>-->
            </div>
        </div>
        <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
            <div class="footer-div-wrapper">
                <h5 class="heading-2">customer service</h5>
                <a class="block link text" href="{:url('index/support')}">AFTER-SALES SUPPORT</a>
                <a class="block link text" href="{:url('index/upgrade')}">UPGRADE</a>
                <a class="block link text" href="{:url('index/qalist')}">Q&A</a>
                <a class="block link text" href="{:url('index/training')}">TRAINING CENTER </a>
                <a class="block link text" href="{:url('index/downloading')}">DOWNLOADING</a>
                <a class="block link text" href="{:url('index/contact')}"> CONTACT US</a>
            </div>
        </div>
        <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
            <div class="footer-div-wrapper">
                <h5 class="heading-2">ABOUT LAWRENCE</h5>
                <a class="block link text" href="{:url('index/who_we_are')}">COMPANY PROFILE</a>
                <a class="block link text" href="{:url('index/news_education')}">News</a>
                <a class="block link text" href="{:url('index/highlights')}">HIGHLIGHTS</a>
                <a target="_blank" class="block link text" href="{:url('index/patents')}">PATENTS AND CERTIFICATIONS</a>
                <a class="block link text" href="{:url('index/careers')}"> CAREERS </a>
            </div>
        </div>
        <style type="text/css">
            .footer-div-wrapper li{float: left;list-style: none;padding-right: 10px; }
            .footer-div-wrapper ul{padding:0px;margin:0px; }
        </style>
        <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
            <div class="footer-div-wrapper">
                <h5 class="heading-2">INTERNATIONAL EXHIBITION</h5>
                <ul>
                    {volist name="news" id="new"}
                    <li><a class="block link text" href="{:url('index/news_education')}?years={$new.id}">{$new.year} &nbsp;&nbsp;&nbsp;</a></li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
            <div class="footer-div-wrapper">
                <img class="footer-logo" src="__STATIC__/home/Portals/0/Images/flogo.png">
            </div>
        </div>
        <div class="w-col w-col-2 w-col-medium-4 w-col-small-6">
            <div class="footer-div-wrapper social">
                <!-- <img class="footer-logo" src="/static/home/Portals/0/Images/hunter-black-logo.png"> -->
                <div class="text">
                    <!--<br><span class="block link text"><a href="tel:+1(314)731-0000" class="block link text">+1(314) 731-0000</a>-->
                    <span>LAWRENCE AUTO MACHINERY (USA)</span>
                    <span>Headquarter: Ave. Suite 3G Flushing, New York, 11354, USA</span>
                    <!-- <span>Asia-Pacific General Agent: Guangzhou Lawrence Auto Machinery Co., Ltd.</span> -->
                    <span>Production Base: No.53 Zhonghe Rd., 4th Guangcong Rd., Guangzhou </span>
                    <!-- <span> <a href="www.Lawren3d.com">Website: www. Lawren3d.com</a></span>
                     <span class="block link text"><a href="tel:Tel: +86-20-86328363" class="block link text">Tel: +86-20-86328363</a>
                     <span>Fax: +86-20-86331 8680 </span>
                     <span>Email: info@lawren3d.com</span> -->
                    <!--</span>-->
                </div>

                <div class="social-link-wrapper">
                    <a class="w-inline-block social-icon" href="https://www.facebook.com/hunterengineeringcompany" target="_blank"><img class="social-icon" src="__STATIC__/home/bortals/0/Images/facebook.svg">
                    </a>
                    <a class="w-inline-block social-icon" href="https://twitter.com/HunterEngCo" target="_blank"><img class="social-icon" src="__STATIC__/home/bortals/0/Images/twitter.svg">
                    </a>
                    <a class="w-inline-block social-icon" href="https://www.youtube.com/user/HunterEngCo" target="_blank"><img class="social-icon" src="__STATIC__/home/bortals/0/Images/youtube.svg">
                    </a>
                    <a class="w-inline-block social-icon" href="https://www.linkedin.com/company/hunter-engineering" target="_blank"><img class="social-icon" src="__STATIC__/home/bortals/0/Images/linkedin.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-row">
        <div class="w-col w-col-6 w-col-small-small-stack w-col-stack">
            <div class="copyright-text left">Copyright ©<script type="text/javascript">
                document.write(new Date().getFullYear());
            </script> LAWRENCE AUTO MACHINERY. All rights reserved.</div>
        </div>
        <div class="w-clearfix w-col w-col-6 w-col-small-small-stack w-col-stack">
            <div class="footer-secondary-link">
                <div class="copyright-text footer-secondary-link"><a href="{:url('index/site_map')}" class="block link text">Site Map</a>
                </div>
                <div class="copyright-text footer-secondary-link"><a href="{:url('index/terms_of_use')}" class="block link text">Terms of Use</a>
                </div>
                <div class="copyright-text footer-secondary-link"><a href="{:url('index/privacy')}" class="block link text">Privacy Statement</a>
                </div>
                <div class="copyright-text footer-secondary-link last"><a href="{:url('index/logon')}" class="block link text">Log On</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.st_newsletter_large', function() {
        window.location = '/newsletter';
    });
</script>

<!--<script type="text/javascript">-->
<!--/* <![CDATA[ */-->
<!--var google_conversion_id = 1070064664;-->
<!--var google_custom_params = window.google_tag_params;-->
<!--var google_remarketing_only = true;-->
<!--/* ]]> */-->
<!--</script>-->
<!--<div style="display:none;">-->
<!--<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">-->
<!--</script>-->
<!--</div>-->
<!--<noscript>-->
<!--<div style="display:inline;">-->
<!--<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1070064664/?value=0&amp;guid=ON&amp;script=0"/>-->
<!--</div>-->
<!--</noscript>-->


<script>
    if(navigator.userAgent.match(/Trident\/7\./)) { // if IE
        $('body').on("mousewheel", function () {
            event.preventDefault();
            var wheelDelta = event.wheelDelta;
            var currentScrollPosition = window.pageYOffset;
            window.scrollTo(0, currentScrollPosition - wheelDelta);
        });
    }
</script>

<!--<script>-->
<!--!function(f,b,e,v,n,t,s)-->
<!--{if(f.fbq)return;n=f.fbq=function(){n.callMethod?-->
<!--n.callMethod.apply(n,arguments):n.queue.push(arguments)};-->
<!--if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';-->
<!--n.queue=[];t=b.createElement(e);t.async=!0;-->
<!--t.src=v;s=b.getElementsByTagName(e)[0];-->
<!--s.parentNode.insertBefore(t,s)}(window, document,'script',-->
<!--'https://connect.facebook.net/en_US/fbevents.js');-->
<!--fbq('init', '550441425147952');-->
<!--fbq('track', 'PageView');-->
<!--</script>-->
<!--<noscript>-->
<!--<img height="1" width="1" style="display:none"-->
<!--src="https://www.facebook.com/tr?id=550441425147952&ev=PageView&noscript=1"/>-->
<!--</noscript>-->


<script type="text/javascript">
    /* Create a configuration object */
    var ss360Config = {
        /* Your site id */
        siteId: 'www.hunter.com',
        /* A CSS selector that points to your search  box */
        searchBoxSelector: '.hunter360Search',
        // the text to show before the search results
        searchResultsCaption: 'Search results for your query #QUERY#',
        // a callback that is triggered before the search is executed, e.g. to catch empty queries
        preSearchCallback: function(query,sort) {
            var searchBoxId = selectedSearchBox.get()[0].id;
            console.log('pre search callback', searchBoxId);

            // change the settings depending on what search box is selected
            if (searchBoxId == 'mainSearch') {
                // render results in left container
                SS360.changeConfig('searchResults', {'contentBlock': '#resultArea1'});
                // search all content groups
                SS360.changeConfig('includeContentGroups',[]);
            } else if (searchBoxId == 'mobileSearch') {
                // render results in right container
                SS360.changeConfig('searchResults', {'contentBlock': '#resultArea2'});
                // search only "menu items" content group
                SS360.changeConfig('includeContentGroups',['Menu Items']);
            }

            // return true so the search is triggered
            return true;
        }
    };
</script>
<script src="https://sitesearch360.com/cdn/sitesearch360-v10.min.js"></script>

<script>
    var ss360Config = {
        /********* General *********/
        siteId: 'www.hunter.com',
        animationSpeed: 250,
        themeColor: '#c00c00',
        showErrors: false,
        /********* Search Box *********/
        searchBoxSelector: '.hunter360Search',
        searchBoxStyle: {
            text: {
                color: '#333333',
                size: '14px',
            },
            background: {
                color: '#ffffff',
            },
            padding: '2px',
            icon: {
                image: undefined,
                color: '#c00c00'
            },
            border: {
                color: '#dddddd',
                radius: '0px',
            },
            button: {
                text: ' ',
                icon: undefined,
                color: '#c00c00'
            }
        },
        placeholder: 'SEARCH...',
        searchButton: undefined,
        /********* Search Suggestions *********/
        showSearchSuggestions: true,
        suggestionsStyle: {
            text: {
                color: '#333333',
            },
            background: {
                color: '#ffffff'
            },
            padding: '10px',
            distanceFromTop: '0px',
            border: {
                color: '#dddddd',
                radius: '0px',
            },
        },
        showImagesSuggestions: true,
        numSuggestions: 6,
        maxQuerySuggestions: 3,
        minChars: 3,
        highlight: true,
        /********* Search Results *********/
        searchResults: undefined,
        searchResultsCaption: 'We found #COUNT# results for your query "#QUERY#"',
        numResults: 50,
        navigation: 'top',
        highlightQueryTerms: true,
        showImagesResults: true,
        showResultLink: true,
        resultLinksOpenNewTab: false,
        queryCorrectionText: 'Did you mean "#CORRECTION#"?',
        noResultsText: 'Sorry, we have not found any matches for your query.',
        otherContentGroupName: 'Other',
        ignoreOtherContentGroup: false,
        moreResultsButton: undefined,
        moreResultsPagingSize: 50,
        groupResults: true,
        loader: {
            type: 'circle'
        }
    }
</script>

<script>
    //导航 菜单
    $("#about").mouseenter(function(){
        $("#about-content").height('auto') ;
        $('#about-content').siblings('.secondary-nav-drawer').height('0');
    });
    $("#about-content").mouseleave(function(){
        $("#about-content").height('0');
    });

    $("#inter").mouseenter(function(){
        $("#inter-content").height('auto');
        $('#inter-content').siblings('.secondary-nav-drawer').height('0');
    })
    $("#inter-content").mouseleave(function(){
        $("#inter-content").height('0');

    });

    $("#language").mouseenter(function(){
        $("#language-content").height('auto');
        $('#language-content').siblings('.secondary-nav-drawer').height('0');
    });
    $("#language-content").mouseleave(function(){
        $("#language-content").height('0')
    });

    $("#cusiomer").mouseenter(function(){
        $("#cusiomer-content").height('auto');
        $('#cusiomer-content').siblings('.secondary-nav-drawer').height('0');
    });
    $("#cusiomer-content").mouseleave(function(){
        $("#cusiomer-content").height('0');
    });
</script>

<script>
    // 二级菜单
    $("#alignment").mouseenter(function(){
        $("#alignment-1").height('auto') ;
        $('#alignment-1').siblings('.primary-nav-drawer').height('0');
    });
    $("#alignment-1").mouseleave(function(){
        $("#alignment-1").height('0');
    });

    $("#tire-changers").mouseenter(function(){
        $("#tire-changers-1").height('auto') ;
        $('#tire-changers-1').siblings('.primary-nav-drawer').height('0');
    });
    $("#tire-changers-1").mouseleave(function(){
        $("#tire-changers-1").height('0');
    });

    $("#wheel-balancers").mouseenter(function(){
        $("#wheel-balancers-1").height('auto') ;
        $('#wheel-balancers-1').siblings('.primary-nav-drawer').height('0');
    });
    $("#wheel-balancers-1").mouseleave(function(){
        $("#wheel-balancers-1").height('0');
    });

    $("#lifts").mouseenter(function(){
        $("#lifts-1").height('auto') ;
        $('#lifts-1').siblings('.primary-nav-drawer').height('0');
    });
    $("#lifts-1").mouseleave(function(){
        $("#lifts-1").height('0');
    });

</script>


<script src="https://sitesearch360.com/cdn/sitesearch360-v10.min.js"></script>
<input name="ScrollTop" type="hidden" id="ScrollTop" />
<input name="__dnnVariable" type="hidden" id="__dnnVariable" autocomplete="off" value="`{`__scdoff`:`1`,`sf_siteRoot`:`/`,`sf_tabId`:`55`}" />
<input name="__RequestVerificationToken" type="hidden" value="ElZvKlw0hy-LRQFet__Y2OqtQPM5eD3_IiiJtol64-9neOCzJwZiXIPxMJYSZsazcigS16SsR6N5Ka8ydp68Vo0p4H85wDhTOrFHLbFOdyitnOONlAxUbTT3kvk1" />
<script src="__STATIC__/home/DesktopModules/SteadyRain/Hunter/Resources/js/jquery.helpers.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/js/flexibility.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/js/hunter-search.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/js/moment.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/js/hunter-custom.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/DesktopModules/SteadyRain/Hunter/Modules/Public/HomeGeoLocation/js/main.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/js/contactmodal.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/js/menu.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/includes/RepAndTrainingCTA.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/js/modernizr.js?cdv=330" type="text/javascript"></script>
<script src="__STATIC__/home/Portals/_default/Skins/Hunter/includes/InternationalDistributor.js?cdv=330" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/home/Resources/Shared/scripts/initWidgets.js"></script>
</form>