{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">二级分类菜单</label>
        <div class="layui-input-inline" >
            <select name="cid">
                <option value="0">请选择二级分类</option>
                {volist name="fenlei" id="list"}
                {if isset($vo['id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.cid"} selected="" {/if}>{$list.cp_title}</option>
                {else /}
                <option value="{$list.id}">{$list.cp_title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">特征图</label>
        <div class="layui-input-block">
            <input type="text" name="img" value='{$vo.img|default=""}'   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">特征标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}'   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">特征内容</label>
        <div class="layui-input-block">
            <textarea name="fea_info" class="layui-textarea" data-value="">{$fea_info|default=""}</textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!--        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="img"]').uploadOneImage();
        window.createEditor('[name="fea_info"]', {height: 500});
    });
</script>

<script>

</script>


{/block}

